# general
*~
*.log
tmp
dump

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
RUNNING_PID

logstarget
.bsp
.g8
.idea
.idea_modules
.classpath
.project
.settings
