@()(implicit request: RequestHeader, flash: Flash, session: Session)

@main("auth") {
    <div class="background-img">
        <img src="@routes.Assets.versioned("images/background2.jpg")" alt="background image">
    </div>
    <main class="main">
        <div class="container">
            <input type="radio" name="switch" id="login" checked="">
            <input type="radio" name="switch" id="register">
            <h1 class="title">
                <label class="login" for="login">Войти</label>
                |
                <label class="register" for="register">Регистрация</label>
            </h1>

            <div class="info">
                <h3 class="success">@flash.get("success")</h3>
                <h3 class="error">@flash.get("error")</h3>
            </div>

            <div class="data">
                <form class="login" method="post" action="@routes.HomeController.login">
                    @helper.CSRF.formField
                    <p>Укажите ваши данные:</p>
                    <input type="text" name="username" placeholder="Ваше имя" required="">
                    <input type="password" name="password" placeholder="Пароль" required="">
                    <input type="submit" name="">
                </form>
                <form class="register" method="post" action="@routes.HomeController.register">
                    @helper.CSRF.formField
                    <p>Укажите ваши данные:</p>
                    <input type="text" name="username" placeholder="Введите имя" required="">
                    <input type="password" name="password" placeholder="Придумайте пароль" required="">
                    <input type="submit" name="">
                </form>
            </div>
        </div>
    </main>
}