@()(implicit request: RequestHeader, flash: Flash)

@main("auth") {
    <main class="main">
        <br>
        <br>
        <br>
        <div class="information">
            @flash.get("error")
            @flash.get("success")
        </div>
        <form method="post" action="@routes.HomeController.login">
            @helper.CSRF.formField
            Имя: <input type="text" name="username">
            <br>
            Пароль: <input type="password" name="password">
            <br>
            <input type="submit">
        </form>
        <br>
        <br>
        <form method="post" action="@routes.HomeController.register">
            @helper.CSRF.formField
            Имя: <input type="text" name="username">
            <br>
            Пароль: <input type="password" name="password">
            <br>
            <input type="submit">
        </form>
    </main>
}