@(stylesheetName: String)(content: Html)(implicit session: Session)

<!DOCTYPE html>
<html>
    <head>
        <title>Кабачок "У Солодушкина"</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/fonts.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned(s"stylesheets/$stylesheetName.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/icon.png")">
    </head>
    <body>
        <header class="header">
            <a href="/" class="logo">
                <img src="@routes.Assets.versioned("images/logo.png")" alt="logo">
            </a>
            <nav class="navigation">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/menu">Меню</a></li>
                    <li><a href="/booking">Забронировать столик</a></li>
                    <li><a href="/about">О нас</a></li>
                    @name = @{session.get("username")}
                    @if(name.isEmpty) {
                        <li><a href="/auth">Войти / Регистрация</a></li>
                    } else {
                        <a href="/logout"><li title="Выйти из аккаунта">@name<img src="@routes.Assets.versioned("images/account.png")" alt="account icon" width="18" height="17"></li></a>
                    }
                </ul>
            </nav>
        </header>
        <div class="header-buffer"></div>
        @content
    </body>
</html>
